.orange { 
    padding: 10px;
    height: 200px;
    background: orange; 
}
.green { 
    padding: 10px;
    height: 100px;
    background: green; 
}
.yellow { 
    padding: 10px;
    background: yellow; 
}